* {
   margin: 0;
   font-size: 10px;
   font-family: 'Roboto', 'arial', sans-serif;
}

h1{
    font-size: 3.2rem;
    font-weight: 700;
    color: rgba(231, 90, 124, 1);
    text-align: center;
}

h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: rgba(231, 90, 124, 1);
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
}

h3{
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
}

h5{
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
}

h6 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.8rem;
    text-align: left;
}

/*.grid-container {
    display: grid;
    background-color: rgba(242, 245, 234, 1);
    grid-gap:0;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "image1"
    /*"product1"
    "product2"
    "product3"*/
   /* "flex1"
    "search"
    "marketing"
    "footer";
    grid-template-rows: auto;
    grid-auto-rows: auto;
}*/

.grid1 {
    /*grid-row: 1/2;*/
    height: 60px;
    box-shadow: 0 0 2 0;
    background-color: rgba(187, 199, 164, 1);
    grid-area: header;

}

.grid2 {
/*grid-area: image1;*/
margin-bottom: 10%;
}

.grid2 img{
    max-width: 100%;
    height: auto;
    width:6000px;
}

.grid3 {
    text-align: center;
    margin: 10%;
}

.grid4 {
    text-align: center;
   /* grid-area: product2;*/
    margin: 10%;
}

.bildbehandling{
    max-width: 550px;
    height: auto;
    width:80%;
    margin: 0% 10% 7% 10%;
    margin-left: 50%;
    transform: translate(-50%);
}

.flex1{
    width: 200px;
    display: block;
    margin-left: 50%;
transform: translate(-50%);
margin-top: 5%;
}

.grid_about{
    margin: 10%;
}

.grid_uppgift{
    margin: 10%
}


.grid5 {
    text-align: center;
}

.grid6 {
    margin: 10%;
}

.about{
    margin: 10%;
}
.grid_search{
    color: white;
   /* grid-area: search;*/
    position: relative;
    overflow: hidden;
    margin-bottom: 15%;
}

#portrait{
    border-radius: 100%;
    width: 80%;
    margin-bottom: 10%;
    max-width: 450px;
    transform: translate(-50%);
    margin-left: 50%;
}

.grid_search img{
    object-fit: contain;
    height: 360px;
    margin-left: 50%;
    transform: translate(-50%);
}

.centered{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index:1;
}

.search{
    display: flex;
    align-items: center;
    padding: 6px 27px;
    border: white solid 3px;
    background-color: transparent;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 53px;
    width: 174px;
    margin-top: 70px;
    position:absolute;
    font-size: 3.2rem;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    color: white;
    z-index:1;
}

.grid7 {
   /* grid-area: marketing;*/
    margin:10%;
}

.grid_reklam {
  /*  grid-area: marketing;*/
    margin:10%;
}

.grid_reklam img {
    max-width: 100%;
    height: auto;
}

.svg {
    position:absolute;
    height: 45px;
    width: 113px;
    top: 8px;
    left: 20px;
}

nav {
    background-color: rgba(187, 199, 164, 1);
    position:fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 255px;
    display: none;
    z-index:2;
}

.menu-btn-open {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: rgba(187, 199, 164, 1);
    border: black solid 2px;
    /*cursor: pointer;*/
    right: 20px;
    height: 42px;
    width: 120px;
    margin-top: 9px;
    position:absolute;
}

.menu-btn-close {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: rgba(187, 199, 164, 1);
    border: black solid 2px;
    /*cursor: pointer;*/
    margin-left: 50%;
    margin-top:10px;
    transform: translate(-50%);
    width: 190px;
}

.bars-cross1{
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transform: rotate(45deg);
    position: relative;
    margin-top: 5px;
}

.bars-cross2 {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transform: rotate(-45deg);
    margin-top: -8px;
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

li {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 13%;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.gridfooter {
  /*  grid-area: footer;*/
    background: rgba(187, 199, 164, 1);
    padding: 2% 10%;
    margin-top: 10%;
}

footer p {
    font-size: 1.6rem;
    text-align: center;
}

@media (min-width: 801px) and (max-width: 1520px) {
    nav {
        width: 340px;
    }
    h1{
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 3.2rem;
    }

    .flex1{
        width: 225px;
        display: inline;
        margin-left: 2%;
        margin-right: 2%;
        transform: none;
        margin-top: 3%;
    }

    .grid2 {
      /*  grid-area: image1;*/
        margin-bottom: 5%;
        }

    .grid3{
        margin: 0%;
    }

    .grid_search{
        margin-bottom: 10%;
    }

    .grid_search img{
        height: auto;
        width: 100%;
        margin-left: 0%;
        transform: none;
    }

    .grid_reklam img {
        width: 650px; 
        height: 430px;
        transform: translate(-50%);
        margin-left: 50%;
    }

    #portrait{
        border-radius: 100%;
        width: 60%;
        margin-bottom: 10%;

    }

    .gridfooter {
        padding: 1% 10%;
    }

    .grid_reklam {
        margin:0%;
    }


}






@media (min-width: 1521px){


    h1{
        font-size: 4.2rem;
    }
    
    h2 {
        font-size: 3.6rem;
    }
    
    h3{
        font-size: 3.2rem;
    }

    .flex1{
        width: 300px;
        display: inline;
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        transform: none;
        margin-top: 2%;
    }

    .grid2 {
      /*  grid-area: image1;*/
        margin-bottom: 3%;
        }

    .grid3{
        margin: 0%;
        
    }

    .grid_reklam img {
        width: 650px; 
        height: 430px;
        transform: translate(-50%);
        margin-left: 50%;
    }

    .grid_search{
        margin-bottom: 5%;
    }

    .grid_search img{
        height: auto;
        width: 100%;
        margin-left: 0%;
        transform: none;
    }

    .svg {
        position:absolute;
        height: 70px;
        width: 174px;
        top: 6px;
        left: 20px;
    }

    .grid1 {
        height: 80px;
    }

    .gridfooter {
        padding: 1% 10%;
    }

    .flex2{
        display: inline-flex;
    }

    .flex_left{
        margin-top: 3%;
    }

    .flex_right{
        margin: 0% 10% 0% 10%;
    }

#portrait{
   /* grid-area: flex1;*/
    border-radius: 100%;
    width: 100%;
    margin-left: 70%;
    width: 450px;
}

.gridfooter {
    margin-top: 5%;
}

.float_left{
 margin: 5%;
}


.grid_fargstick{
    transform: translate(-60%);
    margin-left: 50%;
    display:inline-flex;
}

.grid_handkolorering{
    transform: translate(-60%);
    margin-left: 50%;
    display:inline-flex;
}

.bildbehandling{
    width:550px;
    margin: 0% 0% 0% 50%;
    transform: translate(-50%);
}

.grid_reklam {
    margin:0%;
}

.about{
    margin: 10% 5% 10% 5%;
}

    
}