/*CSS för hemsidan mugguniversitetet*/

/*generell styling nedan som grundstorlek på text med utgångsvärde 10px och typsnitt.*/
* {
    margin: 0;
    font-size: 10px;
    font-family: 'Roboto', 'arial', sans-serif;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgba(231, 90, 124, 1);
    text-align: center;
}

h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: rgba(231, 90, 124, 1);
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
}

h3 {
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
}

/*Istället för h5 eftersom h5 inte validerar i ett spann element*/
.menu-text {
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
}

h6 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.8rem;
    text-align: left;
}

/*styling av banner innehållandes loggotyp och meny*/
.banner {
    height: 60px;
    background-color: rgba(187, 199, 164, 1);
}

/*styling av loggotyp i headern*/
.svg {
    position: absolute;
    height: 45px;
    width: 113px;
    top: 8px;
    left: 20px;
}

/*styling av navigeringen är den är utfälld*/
nav {
    background-color: rgba(187, 199, 164, 1);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 255px;
    display: none;
    z-index: 2;
}

/*styling av öppnaknappen till meny*/
.menu-btn-open {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: rgba(187, 199, 164, 1);
    border: black solid 2px;
    /*cursor: pointer;*/
    right: 20px;
    height: 42px;
    width: 120px;
    margin-top: 9px;
    position: absolute;
}

/*styling av stängknappen till menyn*/
.menu-btn-close {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: rgba(187, 199, 164, 1);
    border: black solid 2px;
    /*cursor: pointer;*/
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
    width: 190px;
}

/*styling av stäck som är vridna till ett kors i stängknappen i menyn*/
.bars-cross1 {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transform: rotate(45deg);
    position: relative;
    margin-top: 5px;
}

/*styling av stäck som är vridna till ett kors i stängknappen i menyn*/
.bars-cross2 {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transform: rotate(-45deg);
    margin-top: -8px;
}

/*marginal till streck i menyknappen*/
.menu-icon {
    margin-right: 10px;
}

/*styling av de tre strecken i menyknapp öppna*/
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

/*Styling av länkar i menyn*/
li {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 13%;
    list-style: none;
}

/*styling av alla länkar men avsedd för länktext i menyn*/
a {
    color: black;
    text-decoration: none;
}

/*margin under hero image*/
.hero_image {
    margin-bottom: 10%;
}

/*styling av hero image*/
.hero_image img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

/*styling av produkt avsnittet på första sidan*/
.produkter {
    text-align: center;
    margin: 10%;
}

/*styling av produktbilder på förstasidan*/
.produktbilder {
    width: 200px;
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 5%;
}

/*Styling av hur bakgrunden till sökknappen på första sidan ska bete sig*/
.search_container {
    color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 15%;
}

/*mer styling av bakgrunden till sökknappen*/
.search_container img {
    object-fit: contain;
    height: 360px;
    margin-left: 50%;
    transform: translate(-50%);
}

/*Styling av text till sökknappen på första sidan*/
.centered {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2rem;
    font-weight: 700;
    z-index: 1;
}

/*Styling av sökknappen på första sidan*/
.search {
    display: flex;
    align-items: center;
    padding: 6px 27px;
    border: white solid 3px;
    background-color: transparent;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 53px;
    width: 174px;
    margin-top: 70px;
    position: absolute;
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    z-index: 1;
}

/*container till rörlig reklambild*/
.reklam {
    margin: 10%;
}

/*styling av reklambild*/
.reklam img {
    max-width: 100%;
    height: auto;
}

/*Styling av om mig avsnittet*/
.about {
    margin: 10%;
}

/*styling av porträttbilden på "om mig" sidan*/
#portrait {
    border-radius: 100%;
    width: 80%;
    margin-bottom: 10%;
    max-width: 450px;
    transform: translate(-50%);
    margin-left: 50%;
}

/*styling av bilderna på bildbehandlingssidan*/
.bildbehandling {
    max-width: 550px;
    height: auto;
    width: 80%;
    margin: 0% 10% 7% 10%;
    margin-left: 50%;
    transform: translate(-50%);
}

/*styling av footer*/
footer {
    background: rgba(187, 199, 164, 1);
    padding: 2% 10%;
    margin-top: 10%;
}

/*styling av text i footer*/
footer p {
    font-size: 1.6rem;
    text-align: center;
}

/*media querie för mellanbred skärmbredd*/
@media (min-width: 801px) and (max-width: 1520px) {

    h1 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    /*ökar bredden på menyn i öppen läge*/
    nav {
        width: 340px;
    }

    .hero_image {
        margin-bottom: 5%;
    }

    .produkter {
        margin: 0%;
    }

    /*breddar visningen och ändrar till visning sida vid sida*/
    .produktbilder {
        width: 225px;
        display: inline;
        margin-left: 2%;
        margin-right: 2%;
        transform: none;
        margin-top: 3%;
    }

    .search_container {
        margin-bottom: 10%;
    }

    /*styling av bakgrunden till sökrutan så att den ska fylla innehålla hela bilden och täcka hela bredden*/
    .search_container img {
        height: auto;
        width: 100%;
        margin-left: 0%;
        transform: none;
    }

    .reklam {
        margin: 0%;
    }

    /*lägger reklambilden i mitten och visar i verklig bredd*/
    .reklam img {
        width: 650px;
        height: 430px;
        transform: translate(-50%);
        margin-left: 50%;
    }

    #portrait {
        margin-bottom: 5%;
    }

    footer {
        padding: 1% 10%;
    }
}

/*mediaquerie för visning i bredaste visningläget*/
@media (min-width: 1521px) {

    h1 {
        font-size: 4.2rem;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    .banner {
        height: 80px;
    }

    /*förstorar loggotyp*/
    .svg {
        position: absolute;
        height: 70px;
        width: 174px;
        top: 6px;
        left: 20px;
    }

    /*tar bort menyknapp*/
    .menu-btn-open {
        display: none;
    }

    /*tar bort menyknapp*/
    .menu-btn-close {
        display: none;
    }

    /*lägger till ny meny*/
    nav {
        position: absolute;
        display: inline-block;
        height: 80px;
        width: 600px;
        margin-top: 0px;
        margin-right: 10px;
    }

    /*styling av länkar till nya menyn*/
    li {
        margin: 27px;
        display: inline-block;
    }

    .hero_image {
        margin-bottom: 3%;
    }

    .produkter {
        margin: 0%;
    }

    .produktbilder {
        width: 300px;
        display: inline;
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        transform: none;
        margin-top: 2%;
    }

    .reklam {
        margin: 0%;
    }

    .reklam img {
        width: 650px;
        height: 430px;
        transform: translate(-50%);
        margin-left: 50%;
    }

    .search_container {
        margin-bottom: 5%;
    }

    .search_container img {
        height: auto;
        width: 100%;
        margin-left: 0%;
        transform: none;
    }

    #portrait {
        border-radius: 100%;
        width: 100%;
        margin-left: 70%;
        width: 450px;
    }

    .about_container {
        display: inline-flex;
    }

    .about_left {
        margin-top: 3%;
    }

    .about_right {
        margin: 0% 10% 0% 10%;
    }

    .about {
        margin: 10% 5% 10% 5%;
    }

    /*centrerar centrum av 2 bilder till mittan av skärmen*/
    .fargstick {
        transform: translate(-60%);
        margin-left: 50%;
        display: inline-flex;
    }

    /*centrerar centrum av 2 bilder till mittan av skärmen*/
    .handkolorering {
        transform: translate(-60%);
        margin-left: 50%;
        display: inline-flex;
    }

    /*Ger marginal mellan bilderna på bildbehandlingssidan*/
    .bildbehandling_marginal {
        margin: 5%;
    }

    /*naturlig pixel visningsbredd.*/
    .bildbehandling {
        width: 550px;
        margin: 0% 0% 0% 50%;
        transform: translate(-50%);
    }

    footer {
        padding: 1% 10%;
        margin-top: 5%;
    }
}